.gradient {
    border-radius: 10px 10px 0 0;
    background: #2b5876;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sidebar {
    border-radius: 0px 10px 0 0;
}

#collapse:focus, #collapse:active:focus, #collapse.active:focus {
    box-shadow: none !important;
}

.border-card {
    background-color: transparent;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
    border-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.border-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

html {
    height: 100%;
}

body, #root {
    height: 100%;
    margin: 0;
    font-family: 'Bree Serif', serif;
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.list-group{
    margin-bottom: 10px;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #757F9A;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #757F9A;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
}

@media (max-height: 600px) {
    .list-group{
        max-height: 250px;
    }
    .chat{
       height: 550px;
    }
}

@media (min-height: 601px) {
    .list-group{
        max-height: 270px;
    }
    .chat{
        height: 600px;
     }
}

@media (min-height: 700px) {
    .list-group{
        max-height: 350px;
    }
    .chat{
        height: 680px;
    }
}

@media (min-height: 800px) {
    .chat{
        height: 785px;
    }
}